body,
html,
select {
    font: 10pt sans;
    color: white;
    background: #2f2f2f;
}

.mynetwork {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.description {
    display: grid;
    top: 0px;
    left: 0px;
    background-color: transparent;
}
.descTitle {
    grid-area: 1 / 1;
    font-size: 20pt;
    font-family: monospace;
}
.descName {
    grid-area: 2 / 1;
    font-size: 8pt;
}
.descDesc {
    grid-area: 3 / 1;
}
.descSumm {
    grid-area: 4 / 1;
}